<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.biketomotor.xh.xuanhu">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/xuanhu2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.EditInfoActivity" />
        <activity android:name=".Activity.CourseDetailActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.OthersHomeActivity"></activity>
    </application>

</manifest>